* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Calibri', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.bg {
  background-image: url('../imagens/fundoadmin.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  padding: 30px;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
}

.logo {
  width: 120px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
 
  margin: 40px 30px;
  font-size: 1.0rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: chocolate;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

form {
  background-color: #fff;
  border-radius: 17px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  width: 100%;
  max-width: 600px;        
  margin-top: -150px;           
}

form h2 {
  color: #222;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
}

form label {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

form input, form select {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  width: 100%;
  color: #000;
}

.botao {
  margin-top: auto;
  width: 200px;
  height: 45px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #ffffff;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.botao:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: white;
}
.botao2 {
  margin-top: auto;
  width: 100px;
  height: 45px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #ffffff;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.botao2:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: white;
}

.error-message {
  color: #d00000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

form p {
  font-size: 14px;
  text-align: center;
  color: #444;
}

form p a {
  color: #1c12af;
  font-weight: bold;
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}
