* {
    box-sizing: border-box;
    font-family: 'Amiko', sans-serif;
}
h3{
    font-size: 22px;
}

body, html {
    margin: 0;
    height: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.bg {
  background-image: url('../imagens/fundo.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.content {
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,0.95);
  border-radius: 12px;
  border: 4px solid burlywood;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px; 
}


.hero-text h1 {
    font-size: 64px;
    margin: 0;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.hero-text h2 {
    font-size: 72px;
    margin: 20px 0 0;
    font-weight: 400;   
    line-height: 1.1;
}

.hero-text span {
    font-weight: 700;
    background: linear-gradient(transparent 65%, burlywood 65%);
    padding: 0 8px;
}


.hero-image img {
    width: 300px;
    height: auto;
    object-fit: cover;

    border-radius: 30px;
    border: 4px solid burlywood;

    background-color: white;
}


/* responsivo */
@media (max-width: 900px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 280px;
        margin-top: 40px;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text h2 {
        font-size: 48px;
    }
}