* {
  margin: 0;
}
.amiko-semibold {
  font-family: "Amiko", sans-serif;
  font-weight: 600;
  font-style: normal;
}


h1 {
  margin-top: 20px;

  text-align: center;
  color: white;
}
h2 {
    margin-top: 20px;
  
  color: white;
}
h3 {

  color: white; 
}
h4{
 
  color: white; 
}

p {
  font-family: 'Calibri', sans-serif;
  color: black;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.bg {
  background-image: url('../imagens/fundo.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.content {
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
}

.logo {
  width: 120px;
  height: auto;
}

nav {
  margin-right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

nav ul {
  margin-right: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  margin-right: 0;
  margin: 40px 30px;
  font-size: 1.0rem;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: chocolate;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.produtos-linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 40px;
  margin-top: 40px;
  max-width: calc(100% - 270px);
  box-sizing: border-box;
}
.produto-card {
  border-radius: 15px;
  width: 500px;
  background-color: #fff;
  border: 2px solid #333; 
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}
.produto-card:hover {
  transform: scale(1.03);
}

.produto-imagem {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}

.produto-nome {
  font-size: 1.1em;
  margin: 10px 0;
}

.produto-preco {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0;
}

.botao-visualizar {
  margin-top: auto;
  width: 200px;
  height: 45px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #ffffff;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.botao-visualizar:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: white;
}


.grade-produtos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.produto-card {
  flex: 0 1 320px;  /* aumentei para 320px */
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.produto-card:hover {
  transform: scale(1.03);
}


.comparacao-box {
  flex-basis: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  grid-column:1 / -1;                
  width: 10px;                       
  max-width:100%;                   
  justify-self:center;
  margin: 20px auto;
 
}

.comparar-btn {
  margin-top: 12px;
  background: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.descricao-produto {
  margin-top: 10px;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
}
.finalizar-btn {

  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
 margin-right: 15px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.finalizar-btn:hover {
  background-color: #45a049;
}
.total-geral{
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-right: 20px;
  font-family: 'Inter', sans-serif;
}
